@import "../../../assets/styles/_mixins.scss";
@import "../../../assets/styles/_variables.scss";

.wrapper {
	background-color: $bgc-darkgrey;
	color: $c-lightgrey;
	width: 54vw;
	min-height: 80px;

.sizeWelcome {
	font-size: 4vw;
}
.sizeLogo {
	img {
		width: 34vw;
	}
}
.sizeHelloCat {
	img {
		height: 17vw;
		
	}
	// mixins example ($top, $right, $bottom, $left)
}
}


// media queries logo
@media (min-width: 260px) and (max-width: 360px) {
	.wrapper {
		min-height: 60px;
	}
	.sizeLogo {
		margin-bottom: 1px;
	}
}
@media (min-width: 769px){
	.wrapper {
		width: 22vw;
	.sizeWelcome {
		font-size: 1.7vw;
		width: 100%;
	}
	.sizeLogo {
		img {
			width: 16vw;
		}
	}
	.sizeHelloCat {
		img {
			height: 8vw;
		@include absolute-el(30%, -23%, null, null);
	}
	}
	}
}