@import "../../../../assets/styles/placeholders.scss";

.navbar-mobile .nav-link {
  padding: 0;
  margin: 0;
}

.navbar-mobile .icon-container {
  height: 2.7rem;
  flex-direction: column;
}
.navbar-mobile .icon-container p {
  color: white;
  font-size: 0.7rem;
}

.navbar-mobile .icon-container img {
  max-height: 4rem;
}
