.profilePicSize {
	img {
		width: 60px;
	}
}

// .d-UserName {
// 			p {
// 				display: none !important;
// 			}
// 		}

//desktop
@media (min-width: 768px) {
	.profilePicSize {
		margin-right: 0 !important;
		margin-top: 3rem !important;
	}
}
