.profilePicSize {
	img {
		width: 60px;
	}
}

//nom caché en desktop car pb sur mobile v.
.d-UserName {
	p {
		display: none !important;
	}
}

//desktop
@media (min-width: 768px) {
	.profilePicSize {
		margin-right: 0 !important;
		margin-top: 3rem !important;
	}
	.d-UserName {
	p {
		display: inline !important;
	}
}
}

