.profilePicSize {
	img {
		width: 60px;
	}
}

//nom caché en desktop car pb sur mobile v.
.d-UserName {
	p {
		display: none;
	}
}

//desktop
@media (min-width: 768px) {
	.d-UserName {
		p {
			display: inline;
		}
	}
}
