@import "/src/assets/styles/variables";
@import "/src/assets/styles/mixins";

.posSettings {
	position: absolute;
	top: 15px;
	right: 15px;

	img {
		width: 8vw;
	}
}

.full-width-line {
	// permet d'override le container-fluid dans LoginScreen.jsx
	display: block;
	width: 100vw;
	margin-left: -50vw;
	margin-right: -50vw;
	left: 50%;
	position: relative;
}
.opacity-line {
	opacity: 1;
}

// permet d'override le a de bootstrap (idk why, on a un reset pourtant)
a {
	text-decoration: none !important;
}

.sizeForgottenPassword {
	font-size: 0.75rem;
}

::placeholder {
	font-size: 0.8rem;
}

// taille des boutons
.btn-connexion {
	.btn-BG .btn.btn-primary {
		font-size: 1rem !important;
		padding: 5px 30px;
	}
}

.checkboxBorderColor {
	.form-check-input {
		--bs-border-color: #{$secondary} !important;
	}
}

// image du chat
// ($top, $right, $bottom, $left)
.posCatClaws {
	img {
		height: 35vw;
		@include absolute-el(35px, 15px, null, null);
		transform: rotate(-14deg);
		z-index: 9999;
	}
}
// media queries taille du chat
@media (min-width: 600px) and (max-width: 769px) {
	.posCatClaws {
		img {
			height: 35vw;
		}
	}
	.posNewProfile {
		margin-top: 60px;
	}
}

// styles des input borders
.inputStyle {
	border: 1px solid transparent;
	color: $secondary !important;

	&:focus {
		border: 1px solid $tertiary !important;
	}
	// pb à résoudre : chrome mettant un bg-c white)
	// input:-webkit-autofill,
	// input:-webkit-autofill:focus,
	// input:-webkit-autofill:active {
	// }



	// }
}
