:root {
	--bs-card-bg: none;
}

h5 {
	margin: 0 !important;
	font-size: 0.75rem !important;
}
.card-footer .recipes-card-section h5 {
	font-size: 0.9rem !important;
}
.card {
	border: none !important;
	margin: 1.5rem 0.75rem;
}
.recipes-card-section .profilePicSize img {
	height: 2.5rem;
	width: auto;
}