@import "../../../../assets/styles/_mixins.scss";
@import "../../../../assets/styles/_variables.scss";

.sizeLogo {
height: 55px;
}
.sizeHelloCat {
width: 75px;
}
.logoRow {
  .row {
  flex-wrap: nowrap !important;
}
}


// // media queries 
@media (min-width: 768px) {
.sizeLogo {
height: 60px;
}
.sizeHelloCat {
width: 80px;
}

}

// //desktop
// @media (min-width: 768px) and (max-width: 1200px) {
// 	.wrapper {
// 		width: 22vw;
// 		max-width: 350px;
// 		.sizeWelcome {
// 			font-size: 1.6vw;
// 		}
// 		.sizeLogo {
// 			img {
// 				width: 16vw;
// 				max-width: 250px;
// 			}
// 		}
// 		.sizeHelloCat {
// 			img {
// 				height: 8vw;
// 				max-height: 110px;
// 				@include absolute-el(30%, -25%, null, null);
// 			}
// 		}
// 	}
// }
// //large desktop
// @media (min-width: 1201px) {
// 	.wrapper {
// 		width: 22vw;
// 		max-width: 300px;
// 		.sizeWelcome {
// 			font-size: 19px;
// 		}
// 		.sizeLogo {
// 			img {
// 				width: 16vw;
// 				max-width: 250px;
// 			}
// 		}
// 		.sizeHelloCat {
// 			img {
// 				height: 8vw;
// 				max-height: 110px;
// 				@include absolute-el(30%, -25%, null, null);
// 			}
// 		}
// 	}
// }
// //extra large desktop
// @media (min-width: 1401px) {
// 	.wrapper {
// 		.sizeLogo {
// 			img {
// 				max-width: 220px;
// 			}
// 		}
// 	}
// }
