@import "../../../assets/styles/variables.scss";

.btn-BG {
  .btn.btn-primary {
    font-size: 0.75rem !important;
    --bs-btn-bg: none;
    --bs-border-color: #{$tertiary};
    background-color: black;
  }
}
