@import "../../../../../assets/styles/variables.scss";

.accordionStyle {
	.accordion {
		--bs-accordion-border-color: #{$secondary};
		.accordion-flush {
			// Ajout de border-radius aux coins
			// border-radius: 20px;
			border-top-left-radius: 20px;
			// border-top-right-radius: 20px;
			// border-bottom-left-radius: 20px;
			// border-bottom-right-radius: 20px;
		}

		.accordion-header {
			//style qd accordéon fermé
			.accordion-button.collapsed {
				color: $secondary;
				background-color: $primary;
			}

			//style qd accordéon ouvert
			.accordion-button:not(.collapsed) {
				color: $primary;
				background-color: $secondary;
			}
		}
		.accordion-item,
		.accordion-body {
			color: $secondary;
			background-color: $primary;
		}
	}
}
