@import "../../../../assets/styles/variables.scss";
@import "/src/assets/styles/mixins";

.sizeNotif {
	img {
		width: 5vw;
	}
}

.sizeWelcomeText {
  font-size: 1.2rem;
}

.screenSize {
	min-height: 97vh;
}

@media (min-width: 768px) {
	.desktopSize {
		.row {
			margin: 15px 0;
		}
	}
}
@media (min-width: 1200px) {
	.posBtn {
		justify-content: center;
	}
}

.mainColSize {
	h4 {
		padding: 0 10px;
	}
}

// scroll sur les cards
.desktopSize {
	.sizeScroll {
		height: 450px;
	}
}
@media (min-width: 1400px) {
	.desktopSize {
		.sizeScroll {
			height: 500px;
		}
	}
}
