.sizeHeader {
	.input-group {
		min-width: 200px;
	}

  .writingCat {
			img {
        position: absolute;
				top: 45px;
				right: 25px;
        width: 20% !important;
        max-width: 200px;
			}
		}
	}

