@import "./_mixins";
@import "./_placeholders";
@import "./reset";
@import "./_variables";
@import "./custom.scss";

// CSS global, font, et media queries si nécessaire
@font-face {
	font-family: "Lato-regular";
	font-weight: 400;
	src: url("../font/Lato-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Lato-Bold";
	font-weight: 700;
	src: url("../font/Lato-Bold.ttf") format("truetype");
}

.font-bold {
	font-weight: 700;
}

body {
	background-color: #000 !important;
	font-family: "Lato-Regular", sans-serif;
}



.app-container {
	padding: 0.6em;
	min-height: 100vh;
}


.row {
	--bs-gutter-x: 0 !important;
	--bs-gutter-y: 0 !important;
}

// titres de nos card -- h4 réservé aux titres des pages
h5 {
	font-family: "Lato-Bold", sans-serif;
}

.flex-between {
	@extend %flex-between;
}

//media queries container-fluid
@media (min-width: 768px) {
	.container-fluid {
		padding-right: 0;
	}
	// .main-content {
	// 		padding-bottom: 5rem;
	// 	}
}

// valeur selon hauteur navbar
// @media (max-width: 768px) {
// .app-container {
// 	padding-bottom: 6.5rem;
// }
// }

@media (min-width: 768px) {
	aside {
	width: 250px;
	min-height: 98vh;
}
.app-header, .app-content {
	margin-left: 260px;
	width: calc(100% - 260px);
}
}