@import "../../assets/styles/variables";

.sizeNotif {
	img {
		width: 5vw;
	}
}
@media (min-width: 769px){
.greyBlock {
	width: 25vw;
	min-height: 100vh;
	background-color: $primary;
}

}
@media (min-width: 1201px){
.greyBlock {
	max-width: 350px;;
}
}